html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, figure, table, caption, th, td, form, input, button, textarea {
  margin: 0;
  padding: 0; }

html {
  height:100%;
  height:100%;
  font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial,sans-serif;}

body {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 960px; 
  min-height: 720px;
  margin: 0 auto;
}
li {list-style: none; }

.sky{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.sky-sunrise{
  background: linear-gradient(to bottom, #ff1820 10%, #ff5640 50%, #ff9250 80%,#ffc87c);
}
.sky-day{
  background: linear-gradient(to bottom, #00d2ff 40%, #42ebff 70%, #8cf8ff);
}
.sky-sunset{
  background: linear-gradient(to bottom, #f23c8c 10%,#fc75a7 30%, #ffc0c0);
}
.sky-night{
  background: linear-gradient(to bottom, #000018 20%, #040c30 30%,#2c7dff 50%,#64c8ff);
}
.cloud-day,.cloud-sunrise,.cloud-sunset,.cloud-night{
  display: none;
}
.cloud-sunrise div{
  position: absolute;
  animation:cloudsunrise 60s infinite linear;
  -webkit-animation:cloudsunrise 60s infinite linear;
}
.cloud-sunrise div:nth-child(1){
  left: 2%;
}
.cloud-sunrise div:nth-child(2){
  left: 20%;
  -webkit-animation-delay: -10s;
  animation-delay: -10s;
  -webkit-animation-duration: 50s;
  animation-duration: 50s;
}
.cloud-sunrise div:nth-child(3){
  left: 30%;
  -webkit-animation-delay: -50s;
  animation-delay: -50s;
}
.cloud-sunrise div:nth-child(4){
  left: 40%;
  -webkit-animation-duration: 40s;
  animation-duration: 40s;
}
.cloud-sunrise div:nth-child(5){
  left: 50%;
  -webkit-animation-delay: -20s;
  animation-delay: -20s;
}
.cloud-sunrise div:nth-child(6){
  left: 60%;
  -webkit-animation-delay: -30s;
  animation-delay: -30s;
}
.cloud-sunrise div:nth-child(7){
  left: 70%;
  -webkit-animation-duration: 30s;
  animation-duration: 30s;
}
.cloud-sunrise div:nth-child(8){
  left: 80%;
  -webkit-animation-delay: -45s;
  animation-delay: -45s;
  -webkit-animation-duration: 45s;
  animation-duration: 45s;
}
.cloud-sunrise div:nth-child(9){
  left: 90%;
  -webkit-animation-duration: 55s;
  animation-duration: 55s;
}
.cloud-sunrise div:nth-child(10){
  left: 96%;
  -webkit-animation-delay: -35s;
  animation-delay: -35s;
}
.cloud-sunrise div:nth-child(11){
  left: 15%;
  -webkit-animation-delay: -55s;
  animation-delay: -55s;
}
.cloud-sunrise div:nth-child(12){
  left: 25%;
  -webkit-animation-duration: 35s;
  animation-duration: 35s;
}
.cloud-sunrise div:nth-child(13){
  left: 35%;
  -webkit-animation-delay: -25s;
  animation-delay: -25s;
  -webkit-animation-duration: 65s;
  animation-duration: 65s;
}
.cloud-sunrise div:nth-child(14){
  left: 45%;
  -webkit-animation-delay: -5s;
  animation-delay: -5s;
  -webkit-animation-duration: 36s;
  animation-duration: 36s;
}
.cloud-sunrise div:nth-child(15){
  left: 55%;
  -webkit-animation-delay: -12s;
  animation-delay: -12s;
}
.cloud-sunrise div:nth-child(16){
  left: 65%;
  -webkit-animation-duration: 56s;
  animation-duration: 56s;
}
.cloud-sunrise div:nth-child(17){
  left: 75%;
  -webkit-animation-delay: -36s;
  animation-delay: -36s;
}
.cloud-sunrise div:nth-child(18){
  left: 85%;
  -webkit-animation-delay: -42s;
  animation-delay: -42s;
  -webkit-animation-duration: 42s;
  animation-duration: 42s;
}
.cloud-sunrise div:nth-child(19){
  left: 8%;
  -webkit-animation-duration: 26s;
  animation-duration: 26s;
}
.cloud-sunrise div:nth-child(20){
  left: 10%;
  -webkit-animation-delay: -32s;
  animation-delay: -32s;
}
@keyframes cloudsunrise {
  0% {
    -webkit-transform: translate(0px, 1000px);opacity: 0;
    transform: translate(0px, 1000px); opacity: 0;}
  100% {
    -webkit-transform: translate(0px, -300px);opacity: 0.8;
    transform: translate(0px, -300px);opacity: 0.8; }
}
.cloud-day div{
  position: absolute;
  top: 0;
  left: 0;
  animation:cloudday 400s infinite linear;
  -webkit-animation:cloudday 400s infinite linear;
}
.cloud-day div:nth-child(1){
  -webkit-animation-delay: -40s;
  animation-delay: -40s;
}
.cloud-day div:nth-child(2){
  -webkit-animation-delay: -160s;
  animation-delay: -160s;
  -webkit-animation-duration: 480s;
  animation-duration: 480s;
}
.cloud-day div:nth-child(3){
  -webkit-animation-delay: -240s;
  animation-delay: -240s;
}
.cloud-day div:nth-child(4){
  -webkit-animation-delay: -300s;
  animation-delay: -300s;
}
.cloud-day div:nth-child(5){
  -webkit-animation-delay: -200s;
  animation-delay: -200s;
  -webkit-animation-duration: 600s;
  animation-duration: 600s;
}
.cloud-day div:nth-child(6){
  -webkit-animation-delay: -160s;
  animation-delay: -160s;
}
@keyframes cloudday {
  0% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);}
  50% {
    -webkit-transform: translate(4000px, 400px);
    transform: translate(4000px, 400px);}
  100% {
    -webkit-transform: translate(-400px, 100px);
    transform: translate(-400px, 100px);}
}

.cloud-sunset div,.cloud-night div{
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.2;
  animation:cloudsunset 120s infinite linear;
  -webkit-animation:cloudsunset 120s infinite linear;
}
.cloud-sunset div:nth-child(2),.cloud-night div:nth-child(2){
  -webkit-animation-delay: -60s;
  animation-delay: -60s;
}
@keyframes cloudsunset {
  0% {
    -webkit-transform: translate(-5000px, 0px);
    transform: translate(-5000px, 0px);}
  50% {
    -webkit-transform: translate(-3000px, 0px);
    transform: translate(-3000px, 0px); }
  100% {
    -webkit-transform: translate(-5000px, 0px);
    transform: translate(-5000px, 0px);}
}
.sky-night .stars{
  position: absolute;
  width: 3px;
  height: 3px;
  background-color: #fff;
}
.sun-ued{
  position: absolute;
  width: 240px;
  top: calc(100% - 600px);
  left: 0px;
  transform:rotate(-20deg);
}
.star-ued{
  position: absolute;
  width: 240px;
  top: calc(100% - 600px);
  left: 0px;
  transform:rotate(-20deg);
}

.rank{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 540px;
  height: 640px;
  margin:0 auto;
  
}
.rank-pos{
  margin-bottom:-10px;
}

.rank .ued-paizi{
  transform-origin: 50% 80%;
  -webkit-transform-origin:50% 80%;
  animation:uedpaizi 2s infinite linear;
  -webkit-animation:uedpaizi 2s infinite linear;
}
@keyframes uedpaizi {
  0% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);}
  70% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);}
  100% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);}
}
.rank .yangliu{
  animation:yangliuhua 2s infinite linear;
  -webkit-animation:yangliuhua 2s infinite linear;
}
@keyframes yangliuhua {
  0% {
    -webkit-transform: translate(20px, 0);
    transform: translate(20px, 0);}
  70% {
    -webkit-transform: translate(-10px, 0);
    transform: translate(-10px, 0);}
  100% {
    -webkit-transform: translate(20px, 0);
    transform: translate(20px, 0);}
}
.rank .yangliu .shandian{
  animation:yangliushandian 1s infinite linear;
  -webkit-animation:yangliushandian 1s infinite linear;
}
@keyframes yangliushandian {
  0% {opacity: 1;}
  10% {opacity: 0.1;}
  30% {opacity: 0.8;}
  40% {opacity: 0.2;}
  100% {opacity: 1;}
}
.rank .yangliu .youshou{
  transform-origin: 46.2% 82.8%;
  -webkit-transform-origin:46.2% 82.8%;
  animation:yangliuyoushou 2s infinite linear;
  -webkit-animation:yangliuyoushou 2s infinite linear;
}
@keyframes yangliuyoushou {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);}
  70% {
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);}
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);}
}
.rank .yangliu .zuoshou{
  transform-origin: 47.2% 82.8%;
  -webkit-transform-origin:47.2% 82.8%;
  animation:yangliuzuoshou 2s infinite linear;
  -webkit-animation:yangliuzuoshou 2s infinite linear;
}
@keyframes yangliuzuoshou {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);}
  70% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);}
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);}
}
.workmate,.name{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 960px;
  height: 720px;
  margin:0 auto;
}
.workmate div{
  position: absolute;
  width: 40px;
}
.workmate .xiaofeifei{
  bottom: 48px;
  right: 396px;
}
.workmate .xiaofeifei .zuoshou{
  transform-origin: 50% 66%;
  -webkit-transform-origin:50% 66%;
  animation:xiaofeifeishou 2s infinite linear;
  -webkit-animation:xiaofeifeishou 2s infinite linear;
  animation-fill-mode:forwards;
}
@keyframes xiaofeifeishou {
  0% {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);}
  10% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);}
  70% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);}
  80% {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);}
  100% {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);}
}

.workmate .miaomiao{
  top: 284px;
  right: 304px;
}
.workmate .miaomiao .toubu{
  animation:miaomiaotoubu 500ms steps(1) infinite 0s;
  -webkit-animation:miaomiaotoubu 500ms steps(1) infinite 0s;
}
@keyframes miaomiaotoubu {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);}
  50% {
    -webkit-transform: translate(-1px, 0);
    transform: translate(-1px, 0);}
  100% {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);}
}
.workmate .xiangsiyu{
  width: 240px;
  top: -172px;
  right: 10px;
}
.workmate .xiangsiyu .qiqiu{
  animation:xiangsiyuqiqiu 10s infinite linear;                 
  -webkit-animation:xiangsiyuqiqiu 10s infinite linear;
}
@keyframes xiangsiyuqiqiu {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);}
  80% {
    -webkit-transform: translate(208px, -356px);opacity: 0;
    transform: translate(208px, -356px);opacity: 0;}
  100% {
    -webkit-transform: translate(208px, -356px);opacity: 0;
    transform: translate(208px, -356px);opacity: 0;}
}
.workmate .xiangsiyu .shou{
  transform-origin: 6.5% 93.8%;
  -webkit-transform-origin:6.5% 93.8%;
  animation:xiangsiyushou 10s infinite linear;
  -webkit-animation:xiangsiyushou 10s infinite linear;
}
@keyframes xiangsiyushou {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);}
  1% {
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);}
  3% {
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);}
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);}
}
.workmate .caoshufang{
  bottom: 192px;
  left: 440px;
}
.workmate .caoshufang .lian{
  animation:caoshufanglian 4s steps(1) infinite 0s;
  -webkit-animation:caoshufanglian 4s steps(1) infinite 0s;
}
@keyframes caoshufanglian {
  0% {
    -webkit-transform: translate(2px, 0px);
    transform: translate(2px, 0px);}
  10% {
    -webkit-transform: translate(2px, 0px);
    transform: translate(2px, 0px);}
  20% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);}
  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);}
}
.workmate .caoshufang .shenti{
  animation:caoshufangshenti 4s infinite linear;
  -webkit-animation:caoshufangshenti 4s infinite linear;
}
@keyframes caoshufangshenti {
  0% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);}
  30% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);}
  40% {
    -webkit-transform: translate(0px, 4px);
    transform: translate(0px, 4px);}
  50% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);}
  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);}
}
.workmate .caoshufang .shou{
  animation:caoshufangshou 4s infinite linear;
  -webkit-animation:caoshufangshou 4s infinite linear;
}
@keyframes caoshufangshou {
  0% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);}
  40% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);}
  50% {
    -webkit-transform: translate(0px, -8px);
    transform: translate(0px, -8px);}
  60% {
    -webkit-transform: translate(0px, -8px);
    transform: translate(0px, -8px);}
  70% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);}
  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);}
}
.workmate .jinru{
  bottom: 192px;
  left: 400px;
}
.workmate .jinru .shou{
  animation:jinrushou 4s infinite linear;
  -webkit-animation:jinrushou 4s infinite linear;
}
@keyframes jinrushou {
  0% {
    -webkit-transform: translate(0px, 3px);
    transform: translate(0px, 3px);}
  10% {
    -webkit-transform: translate(0px, -2px);
    transform: translate(0px, -2px);}
  100% {
    -webkit-transform: translate(0px, 3px);
    transform: translate(0px, 3px);}
}
.workmate .jinru .zui{
  animation:jinruzui 4s steps(1) infinite 0s;
  -webkit-animation:jinruzui 4s steps(1) infinite 0s;
}
@keyframes jinruzui {
  0% {opacity: 1;}
  10% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 1;}
}
.workmate .fenganquan{
  top: 74px;
  right: 382px;
}
.workmate .fenganquan .shou{
  transform-origin: 4% 43%;
  -webkit-transform-origin:4% 43%;
  animation:fenganquanshou 3s infinite linear;
  -webkit-animation:fenganquanshou 3s infinite linear;
}
@keyframes fenganquanshou {
  0% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);}
  12% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);}
  24% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);}
  36% {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);}
  48% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);}
  64% {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);}
  100% {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);}
}
.workmate .fenganquan .tou{
  animation:fenganquantou 3s infinite linear;
  -webkit-animation:fenganquantou 3s infinite linear;
}
@keyframes fenganquantou {
  0% {
    -webkit-transform:translate(0px, 0px) ;
    transform: translate(0px, 0px);}
  64% {
    -webkit-transform:translate(0px, 0px) ;
    transform: translate(0px, 0px);}
  67% {
    -webkit-transform:translate(0px, -3px) ;
    transform: translate(0px, -3px);}
  70% {
    -webkit-transform:translate(-1px, -3px) ;
    transform: translate(-1px, -3px);}
  73% {
    -webkit-transform:translate(1px, -3px) ;
    transform: translate(1px, -3px);}
  76% {
    -webkit-transform:translate(-1px, -3px) ;
    transform: translate(-1px, -3px);}
  79% {
    -webkit-transform:translate(1px, -3px) ;
    transform: translate(1px, -3px);}
  82% {
    -webkit-transform:translate(-1px, -3px) ;
    transform: translate(-1px, -3px);}
  85% {
    -webkit-transform:translate(1px, -3px) ;
    transform: translate(1px, -3px);}
  88% {
    -webkit-transform:translate(-1px, -3px) ;
    transform: translate(-1px, -3px);}
  91% {
    -webkit-transform:translate(1px, -3px) ;
    transform: translate(1px, -3px);}
  94% {
    -webkit-transform:translate(0px, -3px) ;
    transform: translate(0px, -3px);}
  97% {
    -webkit-transform:translate(0px, 0px) ;
    transform: translate(0px, 0px);}
  100% {
    -webkit-transform:translate(0px, 0px) ;
    transform: translate(0px, 0px);}
}
.workmate .dingchenyi{
  bottom: 72px;
  left: 252px;
}
.workmate .dingchenyi .zuotuishang{
  transform-origin: 24px 781px;
  -webkit-transform-origin:24px 781px;
  animation:dingchenyituishang 6s infinite linear;
  -webkit-animation:dingchenyituizuo 6s infinite linear;
}
.workmate .dingchenyi .zuotuixia{
  transform-origin: 23px 800px;
  -webkit-transform-origin:23px 800px;
  animation:dingchenyituiyou 6s infinite linear;
  -webkit-animation:dingchenyituiyou 6s infinite linear;
}
.workmate .dingchenyi .youtuishang{
  transform-origin: 16px 781px;
  -webkit-transform-origin:16px 781px;
  animation:dingchenyituiyou 6s infinite linear;
  -webkit-animation:dingchenyituiyou 6s infinite linear;
}
.workmate .dingchenyi .youtuixia{
  transform-origin: 17px 800px;
  -webkit-transform-origin:17px 800px;
  animation:dingchenyituizuo 6s infinite linear;
  -webkit-animation:dingchenyituizuo 6s infinite linear;
}

@keyframes dingchenyituizuo {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);}
  10% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);}
  15% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);}
  20% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);}
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);}
}

@keyframes dingchenyituiyou {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);}
  10% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);}
  15% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);}
  20% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);}
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);}
}
.workmate .dingchenyi .zuoshou{
  transform-origin: 26px 766px;
  -webkit-transform-origin:26px 766px;
  animation:dingchenyizuoshou 6s infinite linear;
  -webkit-animation:dingchenyizuoshou 6s infinite linear;
}
.workmate .dingchenyi .youshou{
  transform-origin: 13px 766px;
  -webkit-transform-origin:13px 766px;
  animation:dingchenyiyoushou 6s infinite linear;
  -webkit-animation:dingchenyiyoushou 6s infinite linear;
}
@keyframes dingchenyizuoshou {
  0% {
    -webkit-transform: translate(0px, 0px)rotate(0deg);
    transform: translate(0px, 0px)rotate(0deg);}
  10% {
    -webkit-transform: translate(0px, 6px)rotate(-45deg);
    transform: translate(0px, 6px)rotate(-45deg);}
  15% {
    -webkit-transform: translate(0px, 6px)rotate(-45deg);
    transform: translate(0px, 6px)rotate(-45deg);}
  20% {
    -webkit-transform: translate(0px, 6px)rotate(0deg);
    transform: translate(0px, 6px)rotate(0deg);}
  90% {
    -webkit-transform: translate(0px, 6px)rotate(0deg);
    transform: translate(0px, 6px)rotate(0deg);}
  100% {
    -webkit-transform: translate(0px, 0px)rotate(0deg);
    transform: translate(0px, 0px)rotate(0deg);}
}
@keyframes dingchenyiyoushou {
  0% {
    -webkit-transform: translate(0px, 0px)rotate(0deg);
    transform: translate(0px, 0px)rotate(0deg);}
  10% {
    -webkit-transform: translate(0px, 6px)rotate(45deg);
    transform: translate(0px, 6px)rotate(45deg);}
  15% {
    -webkit-transform: translate(0px, 6px)rotate(45deg);
    transform: translate(0px, 6px)rotate(45deg);}
  20% {
    -webkit-transform: translate(0px, 6px)rotate(0deg);
    transform: translate(0px, 6px)rotate(0deg);}
  90% {
    -webkit-transform: translate(0px, 6px)rotate(0deg);
    transform: translate(0px, 6px)rotate(0deg);}
  100% {
    -webkit-transform: translate(0px, 0px)rotate(0deg);
    transform: translate(0px, 0px)rotate(0deg);}
}

.workmate .dingchenyi .shangshen{
  animation:dingchenyishangshen 6s infinite linear;
  -webkit-animation:dingchenyishangshen 6s infinite linear;
}
@keyframes dingchenyishangshen {
  0% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);}
  10% {
    -webkit-transform:translate(0px, 4px);
    transform: translate(0px, 4px);}
  15% {
    -webkit-transform:translate(0px, 4px);
    transform: translate(0px, 4px);}
  20% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);}
  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);}
}
.workmate .dingchenyi .shenti{
  animation:dingchenyishenti 6s infinite linear;
  -webkit-animation:dingchenyishenti 6s infinite linear;
}
@keyframes dingchenyishenti {
  0% {
    -webkit-transform: translate(0px, 0px);opacity: 1;
    transform: translate(0px, 0px);opacity: 1}
  18% {
    -webkit-transform: translate(0px, 0px);opacity: 1;
    transform: translate(0px, 0px);opacity: 1}
  50% {
    -webkit-transform:translate(0px, -700px);opacity: 0;
    transform: translate(0px, -700px);opacity: 0;}
  90% {
    -webkit-transform: translate(0px, 0px);opacity: 0;
    transform: translate(0px, 0px);opacity: 0;}
  100% {
    -webkit-transform: translate(0px, 0px);opacity: 1;
    transform: translate(0px, 0px);opacity: 1;}
}

.workmate .zhongling{
  width: 100px;
  top:248px;
  left: 370px;
}
.workmate .zhongling .zuo{
  animation:zhonglingzuoyou 12s steps(1) infinite 0s;
  -webkit-animation:zhonglingzuoyou 12s steps(1) infinite 0s;
  animation-delay: -12s;
  -webkit-animation-delay: -12s;
}

.workmate .zhongling .zuo-zuoshou{
  animation:zhonglingzuozuoshou 1s infinite linear;
  -webkit-animation:zhonglingzuozuoshou 1s infinite linear;
  transform-origin: 31px 23px;
  -webkit-transform-origin:31px 23px;
}
@keyframes zhonglingzuozuoshou {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);}
  20% {
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);}
  50% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);}
  80% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);}
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);}
}
.workmate .zhongling .zuo-youshou{
  animation:zhonglingzuoyoushou 500ms infinite linear;
  -webkit-animation:zhonglingzuoyoushou 500ms infinite linear;
  transform-origin: 45px 24px;
  -webkit-transform-origin:45px 24px;
}
.workmate .zhongling .zuo-weiba{
  animation:zhonglingzuoyoushou 800ms infinite linear;
  -webkit-animation:zhonglingzuoyoushou 800ms infinite linear;
  transform-origin: 61px 37px;
  -webkit-transform-origin:61px 37px;
}
@keyframes zhonglingzuoyoushou {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);}
  50% {
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);}
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);}
}
.workmate .zhongling .zuo-shangshen{
  animation:zhonglingzuoshangshen 800ms infinite linear;
  -webkit-animation:zhonglingzuoshangshen 800ms infinite linear;
}
@keyframes zhonglingzuoshangshen {
  0% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);}
  50% {
    -webkit-transform: translate(0px, 2px);
    transform: translate(0px, 2px);}
  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);}
}
.workmate .zhongling .you{
  animation:zhonglingzuoyou 12s steps(1) infinite 0s;
  -webkit-animation:zhonglingzuoyou 12s steps(1) infinite 0s;
  animation-delay: -6s;
  -webkit-animation-delay: -6s;
}
.workmate .zhongling .you-zuoshou{
  animation:zhonglingyouzuoshou 1s infinite linear;
  -webkit-animation:zhonglingyouzuoshou 1s infinite linear;
  transform-origin: 60px 20px;
  -webkit-transform-origin:60px 20px;
}
@keyframes zhonglingyouzuoshou {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);}
  20% {
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);}
  50% {
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);}
  80% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);}
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);}
}
.workmate .zhongling .you-youshou{
  animation:zhonglingzuoyoushou 500ms infinite linear;
  -webkit-animation:zhonglingyouyoushou 500ms infinite linear;
}
@keyframes zhonglingyouyoushou {
  0% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);}
  50% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);}
  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);}
}
.workmate .zhongling .you-weiba{
  animation:zhonglingyouweiba 800ms infinite linear;
  -webkit-animation:zhonglingyouweiba 800ms infinite linear;
  transform-origin: 31px 38px;
  -webkit-transform-origin:31px 38px;
}
@keyframes zhonglingyouweiba {
  0% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);}
  50% {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);}
  100% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);}
}
.workmate .zhongling .you-shangshen{
  animation:zhonglingzuoshangshen 800ms infinite linear;
  -webkit-animation:zhonglingzuoshangshen 800ms infinite linear;
}
@keyframes zhonglingzuoyou {
  0% {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 0;}
}
.workmate .yinghua{
  top:256px;
  right: 170px;
  cursor: pointer;
}

.workmate .yinghua .hua{
  animation:yinghuazhuan 2s infinite linear;
  -webkit-animation:yinghuazhuan 2s infinite linear;
  transform-origin: 12px 12px;
  -webkit-transform-origin:12px 12px;
}
@keyframes yinghuazhuan {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);}
  20% {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);}
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);}
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);}
}
.workmate .change-season-hide-menu{
  display: none;
  top:256px;
  right: 36px;
  min-width: 130px;
  font-size: 12px;
  font-family: 'zpix';
  line-height:  18px;
  border: 1px dashed #FF9AC4;
  border-radius: 4px;
  background-color: rgba(255, 228, 240, .6);
  padding: 6px;
}
.workmate .change-season-hide-menu .color{
  display: inline-block;
  width: 30px;
  height: 24px;
  text-align: center;
  padding-top: 6px;
  margin: 6px 6px 0 0;
  border-radius: 2px;
  cursor: pointer;
}
.j-change-to-spring{
  color: #207600;
  border: 1px solid #2db400;
  background-color: #72e700;
}
.j-change-to-summer{
  color: #ff3080;
  border: 1px solid #ff6c9e;
  background-color: #ff9ac4;
}
.j-change-to-autumn{
  color: #c08404;
  border: 1px solid #f1a501;
  background-color: #fdce3d;
}
.name .title{
  position: relative;
  max-width: 120px;
  border-radius: 2px;
  background-color: #ff3080;
  color: #ffffff;
  font-size: 12px;
  font-family: 'zpix';
  text-align: center;
  padding: 4px 2px;
}
.name .title .bl-cocorner{
  position: absolute;
  bottom: -9px;
  left: 3px;
  width: 9px;
  height: 9px;
}
.name .title .br-cocorner{
  position: absolute;
  bottom: -9px;
  right: 3px;
  width: 9px;
  height: 9px;
}
.name .miaomiao{
  top: 246px;
  left: 614px;
  animation:miaomiaotoubu 500ms steps(1) infinite 0s;
  -webkit-animation:miaomiaotoubu 500ms steps(1) infinite 0s;
}
.name .xiangsiyu{
  top: 122px;
  left: 708px;
  animation:xiangsiyuname 10s infinite linear;                 
  -webkit-animation:xiangsiyuname 10s infinite linear;
}
@keyframes xiangsiyuname {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);}
  80% {
    -webkit-transform: translate(208px, -356px);opacity: 0;
    transform: translate(208px, -356px);opacity: 0;}
  81% {
    -webkit-transform: translate(0, 0);opacity: 0;
    transform: translate(0, 0);opacity: 0;}
  90% {
    -webkit-transform: translate(0, 0);opacity: 1;
    transform: translate(0, 0);opacity: 1;}
  100% {
    -webkit-transform: translate(0, 0);opacity: 1;
    transform: translate(0, 0);opacity: 1;}
}
.name .caoshufang{
  top: 398px;
  left: 443px;
  animation:caoshufangshenti 4s infinite linear;
  -webkit-animation:caoshufangshenti 4s infinite linear;
}
.name .jinru{
  top: 378px;
  left: 300px;
  animation:jinrushou 4s infinite linear;
  -webkit-animation:jinrushou 4s infinite linear;
}
.name .fenganquan{
  top: -56px;
  left: 536px;
  animation:fenganquantou 3s infinite linear;
  -webkit-animation:fenganquantou 3s infinite linear;
}
.name .dingchenyi{
  top: 438px;
  left: 154px;
  animation:dingchenyiname 6s infinite linear;
  -webkit-animation:dingchenyiname 6s infinite linear;
}
@keyframes dingchenyiname {
  0% {
    -webkit-transform: rotate(0deg);opacity: 1;
    transform: rotate(0deg);opacity: 1}
  17% {
    -webkit-transform: rotate(0deg);opacity: 1;
    transform: rotate(0deg);opacity: 1}
  26% {
    -webkit-transform: rotate(-60deg);opacity: 0.3;
    transform: rotate(-60deg);opacity: 0.3}
  28% {
    -webkit-transform: rotate(-40deg);opacity: 0.2;
    transform: rotate(-40deg);opacity: 0.2}
  30% {
    -webkit-transform: rotate(-50deg);opacity: 0;
    transform: rotate(-50deg);opacity: 0}
  90% {
    -webkit-transform: rotate(0deg);opacity: 0;
    transform: rotate(0deg);opacity: 0}
  100% {
    -webkit-transform: rotate(0deg);opacity: 1;
    transform: rotate(0deg);opacity: 1}
}
.name .zhongling{
  top: 80px;
  left: 294px;
  -webkit-transform-origin:116px 0px;
  transform-origin: 116px 0px;
  animation:zhonglingname 12s steps(1) infinite 0s;
  -webkit-animation:zhonglingname 12s steps(1) infinite 0s;
}
@keyframes zhonglingname {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0)}
  50% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg)}
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0)}
}